prometheus:
  prometheusSpec:
    enableRemoteWriteReceiver: true
    
    storageSpec:   
      volumeClaimTemplate::
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 35Gi
             
grafana:
  ingress:
     enabled: true
     hosts:
      - host: 
         - grafana.10.30.30.21.nip.io
        paths:
          - /

    
