server:

  # Scheduling MUST be here, not under ha
  nodeSelector:
    openbao-node: "true"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
            - key: openbao-node
              operator: Exists

  # HA + Raft config
  ha:
    enabled: true
    replicaCount: 3

    raft:
      enabled: true
      setNodeId: true
      config: |-
        ui = true

        listener "tcp" {
          tls_disable     = 1
          address         = "[::]:8200"
          cluster_address = "[::]:8201"
        }

        storage "raft" {
          path = "/openbao/data"
        }

        service_registration "kubernetes" {}

  # PVC settings
  dataStorage:
    enabled: true
    size: 8Gi
    storageClass: local-path

ui:
  enabled: true
  serviceType: NodePort
  serviceNodePort: 32100

