server:
  ha:
    enabled: true
    replicaCount: 3
    raft:
      enabled: true
      setNodeId: true
      config: |-
        ui = false
        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }
        storage "raft" {
          path = "/mnt/data"
        }
        service_registration "kubernetes" {}

  nodeSelector:
    openbao-node: "true"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: openbao-node
            operator: Exists

  dataStorage:
    enabled: true
    size: 8Gi
    storageClass: "local-path"

ui:
  enabled: true
  serviceType: NodePort
  serviceNodePort: 32000
