ha:
  enabled: true
  replicas: 3
  api_addr : null
  cluster_addr : null

  raft:
    enabled: true

    config: |
      ui = true

      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_addr = "[::]:8201"
        #enable unauthenticated metrics access (neccessary for Prometheus Operator)
        #telemetry{
        #  unauthenticated_me trics_access = "true"
        #}        
      }

      storage {
        path = "/mnt/openbao"

      }

      service_registration "kubernetes" {}


affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname  # Example key
                operator: In
                values:
                  - rke-node2
                  - rke-node3