#contains only cluster features, no workload features
# Purpose: install ONLY cluster-scoped infrastructure

prometheus:
  enabled: false

prometheusOperator:
  enabled: false

grafana:
  enabled: false

alertmanager:
  enabled: false

nodeExporter:
  enabled: false

kubeStateMetrics:
  enabled: false  


windowsMonitoring:
  enabled: false





